.text-l { text-align: left; }
.text-c { text-align: center; }
.text-r { text-align: right; }

.cred { color: red; }
.cgreen { color: green; }
.cblue { color: blue; }
.cyellow { color: yellow; }
.corg { color: orange; }